<div>
  <div class="fixed top-0 left-0 w-[300px] h-full px-[10px] bg-[#f5f6fa] text-right">
    <div class="mt-[50px] flex justify-end">
      <div class="w-[100px] h-[100px] avatar"><img class="w-full h-full object-cover rounded-[50%]" src="https://miro.medium.com/max/1400/1*mWUzwICKzj6a2lvyRYV3rg.jpeg" alt="avatar" /></div>
    </div> 
    <h4 class="mt-[10px] text-[14px] font-bold text-[#777] ">BY QUANG DƯƠNG </h4>
    <h3 class="mt-[10px] text-[14px] leading-[26px] text-[#6e6e6e] ">Tôi xuất thân con nhà nông, nhưng thích đi code. Hiện tại tôi đang nghiên cứu golang để đổi đời. </h3>
    <div class="mt-[30px] right-[10px] grid content-end">
      <div class="w-full h-[5px] grid justify-items-end">
        <div class="h-full bg-[#666] w-[80px]"></div>
      </div>
      <a class="mt-[8px] text-[16px] text-[#333] decoration-none hover:underline">RSS</a>
      <a class="mt-[8px] text-[16px] text-[#333] decoration-none hover:underline">Facebook</a>
      <a class="mt-[8px] text-[16px] text-[#333] decoration-none hover:underline">Github</a>
      <a class="mt-[8px] text-[16px] text-[#333] decoration-none hover:underline">Một số blog hay nên đọc</a>
    </div>
  </div>
  <div class="ml-[300px]">
    <div class="scrollbar grid grid-cols-2 gap-[10px] p-[20px]">
      <div *ngFor="let article of articles">
        <span class="mr-[10px] text-[#888] text-[.8em]">{{article.createDate | date: 'dd-MM-yyyy'}}</span>
        <br>
        <a href="{{article.slug}}" class="mt-[5px] text-[#1c84d9] text-[16px] leading-[1.3em] decoration-none hover:underline max_line-1">{{article.title}}</a>
      </div>
    </div>
  </div>
</div>